<app-nav-bar></app-nav-bar>

<main>
  <section class="flex-conteiner">
    <section class="flex-iten conteiner1">
      <div class="col-8">

        <div class="header">
          <h1><i class="fas fa-users"></i>
            Desafios da Comunidade
            <button class="btnNovoDesafio" (click)="criarDesafio()"><i class="fas fa-plus"></i>Criar Desafio</button>
          </h1>
        </div>

        <table class="tableCardPrincipal">
          <tbody>
            <tr *ngFor="let row of dataSourceAll" (click)="openDesafio(row)">
              <td>
                <h1>{{row.titulo}}</h1>
                <p>{{row.nomeCriador}} - {{row.dataCriacao | date:'dd/MM/yyyy'}}</p>
              </td>
              <td style="width: 200px;">
                <button class="btnAbrir"><i class="fas fa-external-link-alt"></i> Abrir</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </section>
    <section class="flex-iten conteiner2">

      <section class="col-4">
        <div class="header">
          <h1>Seus Desafios Aceitos</h1>
        </div>
        <table class="tableCard">
          <tbody>
            <tr *ngFor="let row of dataSourceAceitos">
              <td>
                <h1>{{row.titulo}}</h1>
                <p>{{row.nomeCriador}} - {{row.dataCriacao | date:'dd/MM/yyyy'}}</p>
              </td>
              <td style="width: 100px;">
                <button class="btnAbrir2" (click)="openDesafio(row)"><i class="fas fa-external-link-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="col-4">
        <div class="header">
          <h1>Seus Desafios Entreges</h1>
        </div>
        <table class="tableCard">
          <tbody>
            <tr *ngFor="let row of dataSourceEntregues">
              <td>
                <h1>{{row.titulo}}</h1>
                <p>{{row.nomeCriador}} - {{row.dataCriacao | date:'dd/MM/yyyy'}}</p>
              </td>
              <td style="width: 100px;">
                <button class="btnAbrir2" (click)="abrirProjeto(row)"><i class="fas fa-external-link-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

    </section>
  </section>
</main>