<app-nav-bar></app-nav-bar>

<main>
  <section class="flex-conteiner">
    <section class="flex-iten cardConteiner">

      <div class="flex-conteiner">
        <section class="flex-iten card" *ngFor="let item of dados" (click)="abrirIde(item)">
          <div class="imgBx">
            <img [src]="item.img" [alt]="item.descricao" height="110px" width="auto">
          </div>
          <div class="info">
            <h2>{{item.descricao}}</h2>
          </div>
        </section>
      </div>

    </section>
  </section>
</main>