main {
  margin: auto;
  min-height: calc(100vh - 120px);
}

.flex-conteiner {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: auto;
  gap: 10px;
  padding: 40px;
}

.conteiner {
  width: 70%;
  min-width: 800px;
  height: auto;
  min-height: 400px;
  background-color: #282A36;
  padding: 20px 15px;
  border-radius: 5px;
  color: #fff;
  margin: 20px;
}

.imgBx {
  position: relative;
  height: 130px;
}

img {
  margin: 0px 15px;
  max-width: 100%;
  border-radius: 4px;
  transform: scale(1.0);
  transition: transform 1s;
}

.imgBx img:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.imgConteiner {
  width: auto;
}

.infoConteiner {
  width: 80%;
}

.info h2 {
  margin-bottom: 50px;
}

.info p {
  margin-top: 20px;
  font-size: 14px;
}

.modulos {
  margin: 20px;
}

.btnVoltar {
  width: 200px;
  padding: 10px;
  height: 50px;
  background: rgba(22, 23, 29, 0.281);
  font: bold;
  font-size: 22px;
  color: rgba(189, 147, 249, 1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  float: left;
}

.btnVoltar:hover {
  background: #0000006c;
  transition: background 1s;
}

.btnVoltar:active {
  background: #8a41ff42;
  transition: background 0s;
  border: 2px solid rgba(26, 27, 34, 1);
}

.btnVoltar i {
  padding: 0px 10px 0px 0px;
}

.btnConteiner {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 10px;
  width: auto;
  gap: 10px;
  padding: 10px;
}

.btnSalvar {
  width: 100%;
  padding: 10px;
  height: 50px;
  background: rgba(22, 23, 29, 0.281);
  font: bold;
  font-size: 22px;
  color: rgba(189, 147, 249, 1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  float: left;
}

.btnSalvar:hover {
  background: #0000006c;
  transition: background 1s;
}

.btnSalvar:active {
  background: #8a41ff42;
  transition: background 0s;
  border: 2px solid rgba(26, 27, 34, 1);
}

.btnSalvar i {
  padding: 0px 10px 0px 0px;
}

.form {
  margin: 20px 35px;
}

.form input {
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgba(26, 27, 34, 1);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(26, 27, 34, 1);
  color: rgba(189, 147, 249, 1);
  font-size: 16px;
}

.form input::placeholder {
  color: rgba(189, 147, 249, 1);
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
}

input:focus {
  border-color: #fff;
  box-shadow: 0 0 8px 0 #8941FF;
}

.form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 220px;
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgba(26, 27, 34, 1);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(26, 27, 34, 1);
  color: rgba(189, 147, 249, 1);
  font-size: 16px;
}

.form textarea::placeholder {
  color: rgba(189, 147, 249, 1);
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
}

textarea:focus {
  border-color: #fff;
  box-shadow: 0 0 8px 0 #8941FF;
}