<header>
  <h1 class="logo"><img src="assets/img/AprenderLogo.svg" alt="Logo" width="35" height="auto"> Code School</h1>
  <nav>
    <ul class="navLinks">
      <li><a (click)="navegarPara('/')">Aprender</a></li>
      <li><a (click)="navegarPara('desafios')">Desafios</a></li>
      <li><a (click)="navegarPara('playground')">Playground</a></li>
    </ul>
  </nav>
  <div class="userIMG">
    <a (click)="navegarPara('perfil')">
      <img src="assets/img/user-circle.svg" alt="Usuario" height="80px" width="auto" />
    </a>
  </div>
</header>