<footer>
  <img src="assets/img/JavaScript.svg" alt="Logo JavaScript" height="80px" width="auto">
  <img src="assets/img/HTML.svg" alt="Logo HTML5" height="80px" width="auto" />
  <img src="assets/img/CSS.svg" alt="Logo CSS3" height="80px" width="auto" />
  <img src="assets/img/Vue.svg" alt="Logo Vue JS" height="74px" width="auto" />
  <img src="assets/img/Angular.svg" alt="Logo Angular" height="80px" width="auto" />
  <img src="assets/img/React.svg" alt="Logo React JS" height="80px" width="auto" />
</footer>